[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
wandb = "*"
numpy = "*"
pandas = "*"
pillow = "*"
tqdm = "*"
torchmetrics = "*"
torch-fidelity = "*"

[dev-packages]

[requires]
python_version = "3.11"
